/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #74bb6f;
}

body {
  margin: 100px;
  padding: 0px 100px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
